.backgroundImage{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right:0px;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/404.png);
  background-repeat: no-repeat;
  background-size: cover;
}

button{
  position: absolute;
  width: 400px;
  background-color: #000080;
  height: 150px;
  right: 10%;
  top: 60%;
}
