<div class="container">
  <form (submit)="onSubmit($event)" [formGroup]="userDataFormGroup">
    <div class="form-group">
      <label for="username">Username: </label>
      <input formControlName="username" id="username" type="text" class="form-control"/>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        Invalid username
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input formControlName="email" id="email" type="text" class="form-control"/>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        Invalid email
      </div>
    </div>
    <div class="form-group">
      <label for="firstName">First name: </label>
      <input formControlName="firstName" id="firstName" type="text" class="form-control"/>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        Invalid firstName
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last name: </label>
      <input formControlName="lastName" id="lastName" type="text" class="form-control"/>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        Invalid lastName
      </div>
    </div>


    <div class="form-group">
      <label for="password">Password: </label>
      <input formControlName="password"  id="password" type="password" class="form-control"/>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        Invalid password
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password: </label>
      <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control"/>
      <div *ngIf="confirmPassword.hasError('match')"
           class="alert alert-danger">
        Passwords dont match
      </div>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
           class="alert alert-danger">
        Invalid password
      </div>

    </div>

    <input class="btn btn-outline-light bg-dark text-white" [disabled]="!userDataFormGroup.valid" type="submit"
           value="Update Profile">
  </form>
</div>
