.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


 a{
  display:block;
  text-align: justify;
}

.hiddenCategories {
  padding: 10px !important;

}


a.btn {
  border-radius: 0px;
  padding-left: 5px;
}

.cartItemNumber{
  text-align: center;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
}

div.float-right button{
  margin-right: 10px;
}
