<div class="pos-f-t  fixed-top " *ngIf="!is404">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" [routerLink]="['/home']"> <img width="120" height="60" src="../../assets/Untitled-4.svg"> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <form [formGroup]="formgroup"  class="ml-3 my-auto  w-100 ">
        <div class="input-group">
          <input class="form-control" formControlName="search"  type="search" placeholder="Search" aria-label="Search">
          <button (click)="searchClick()" style="margin-left: 5px" class="btn btn-outline-light">Search
          </button>
        </div>
      </form>

    </div>
  </nav>
  <div class="bg-dark ">
    <button class="btn bg-dark" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false">
      <span class="text-white">Browse categories</span>
    </button>
    <div class="float-right">


    <button  [routerLink]="['cart']"class="fa fa-shopping-cart right btn btn-outline-light"><div  class="cartItemNumber">{{cartService.shoppingCart.getItemQuantity()}}</div></button>
    <button *ngIf="!currentUserService.getUsername()" class="btn btn-outline-light fa fa-user" type="button" [routerLink]="['login/returnHome']">
      <span >Login</span>
    </button>
      <button  *ngIf="currentUserService.getUsername()" class="btn btn-outline-light fa fa-user" type="button" [routerLink]="['profile']">

      <span>{{currentUserService.getUsername()}}</span>
    </button>
      <button  *ngIf="currentUserService.getUsername()" (click)="logout()" class="btn btn-outline-light fa fa-user" type="button">

        <span>Logout</span>
      </button>
    </div>
  </div>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="hiddenCategories bg-dark p-4 ">
      <div class="row" (mouseleave)="leftArea()">
        <div class="col-md-2 hiddenCategories">


          <a (mouseenter)="showSubCategories(category)"
             class="btn btn-dark text-white"
             *ngFor="let category of categories"
             (click)="categoryClicked()"
            >{{category.name}} </a>


        </div>
        <div *ngIf="subcategories" class="col-md-2 hiddenCategories">
          <a
             class="btn btn-dark text-white"
             *ngFor="let subCategory of subcategories"
             (click)="clicked(subCategory)"
             data-toggle="collapse"
             data-target="#navbarToggleExternalContent"
             aria-controls="navbarToggleExternalContent" aria-expanded="false">{{subCategory.name}}</a>
        </div>
      </div>
    </div>

  </div>
</div>

