<div>
  <form [formGroup]="shippingInfoFormGroup">
    <div class="form-group">
      <label for="shippingAddress">Shipping address</label>
      <select formControlName="shipping"  (change)="changeOrder()" class="form-control" id="shippingAddress">
        <option value="" disabled selected>Select your address</option>
        <option  *ngFor="let address of user.addresses" [value]="address.iDAddress">{{address.addressName}} </option>
      </select>
    </div>
  </form>
</div>
