<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="pageClick(currentPage-1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pages">
    <a class="page-link" (click)="pageClick(page)">{{page}}</a>
    </li>
    <li class="page-item">
      <a  class="page-link" (click)="pageClick(currentPage+1)">Next</a>
    </li>
  </ul>
</nav>
