<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <app-paginator [itemCount]=currentItemCount (pageChanged)="pageChanged($event)" *ngIf="currentItemCount > 0">
      </app-paginator>
    </div>
    <div *ngIf="isAdmin" class="d-flex -align-left">
      <form [formGroup]="formgroup"  class=" ">
        <div class="input-group">
          <input class="form-control" formControlName="search"  type="search" placeholder="Search" aria-label="Search">
          <button (click)="filterClick()" style="margin-left: 5px" class="btn btn-outline-dark">Search
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div *ngFor="let order of orders">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <div class="row">
            <div class="col-md-6">   OrderID: {{order.idOrder}} </div>
            <div class="col-md-6"> Date: {{order.dateOfCreation | date: 'dd-MM-yyyy @ HH:mm'}}</div>
          </div>

        </div>
        <div class="card-body">
          <app-order-row [order]="order" ></app-order-row>
        </div>
        <div class="card-footer bg-dark text-white">
          <div>
            Total Price: {{order.totalPrice | currency:'USD'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


