<div class="container-fluid">
  <div >
   <a [routerLink]="['/product/',item.product.idProduct]" >{{item.product.name}}</a>
  </div>
  <div class="row" >

   <div class="col-md-3">
  <span >Price/pc: {{item.product.price |currency:'USD' }}</span>  </div>
    <div *ngIf="showStepper" class="col-md-9">
      <div>Quantity</div>
      <app-stepper-component (buttomChange)="priceChanged($event)" [number]="item.quantity"></app-stepper-component>
      <button class="btn btn-danger fa fa-trash" (click)="removeItem()"></button>
    </div>
    <div *ngIf="!showStepper">
    <div>Quantity {{item.quantity}}</div>
  </div>
  </div>
  <div  class="float-right">
    Total: {{item.totalItemPrice | currency:'USD'}}
  </div>
</div>
