<div class="container">
  <div *ngIf="product" class="card">

    <div class="card-header"  (click)="productClick()">
      <h2 class="card-title">{{product.name}}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img [src]="'data:image/jpg;base64,'+ imageData | safeImage">
        </div>
        <div class="col-md-8">
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row justify-content-between">
        <app-stepper-component class="col-md-6 col-sm-1" (buttomChange)="changePrice($event)" ></app-stepper-component>
       <div class="col-md-5 col-sm-1">
         <label >Price:</label>
         <label>{{newPrice | currency : 'USD'}}</label>
       </div>
        <button  (click)="addToCart()"   class="btn btn-dark col-md-1 col-sm-1">Add</button>
      </div>
    </div>
    <div class="row" *ngIf="!compact">
      <app-product-specification [specifications]="product.specifications"></app-product-specification>
    </div>
  </div>
</div>
