img {
  max-width: 100%;
  max-height: 100%;
}


.row {
  padding-bottom: 10px;
}

div.d-flex *{
  margin-right: 10px;
}
.pricing{

  text-align: right;

}

div label{
  font-size: 1.5em;
  font-weight: bold;
}



.card {
  transition: box-shadow 0.5s;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 0 20px #515151;;
}
