<div>
  <ul class="list-group">
    <li *ngFor="let visit of visits" class="list-group-item">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              Username: {{visit.user.username}}
            </div>
            <div>
             IP: {{visit.ipAddress}}
            </div>
            <div>
             Date: {{(visit.dateOfLogin)|date: 'dd MM yyyy @ HH:mm'}}
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
