<div class="container">
  <form (submit)="submit()" [formGroup]="loginFormGroup">
    <div class="form-group row">
      <div class="col-3">
        <label for="username" class=" col-form-label">Username: </label>
      </div>
      <div class="col-9">
        <input formControlName="username" class="form-control" id="username" type="text" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
      <label for="password" class="col-form-label">Password: </label>
      </div>
      <div class="col-9">
        <input formControlName="password"  class="form-control" id="password" type="password" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3"></div>
      <div class="col-9">
        <input class="btn btn-dark text-white"  type="submit" value="Login" />
        <button [routerLink]="['/register']" class="btn btn-outline-dark">Register</button>
      </div>
    </div>

  </form>
</div>
