<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#specification" role="tab" aria-controls="profile"
         aria-selected="false">Specification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#links" role="tab" aria-controls="contact"
         aria-selected="false">Datasheet</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="specification" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row" *ngFor="let specification of specifications">
        <div class="col">
          {{specification.type}}
        </div>
        <div class="col">
          {{specification.value}}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row" *ngFor="let link of links">
        <div class="col">
          {{link.name}}
        </div>
        <div class="col">
          {{link.value}}
        </div>
      </div>
    </div>
  </div>

</div>
