<div class="card ">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header  bg-dark text-white d-flex justify-content-between">
          <div>
           Personal Information
          </div>
            <button (click)="isEdit = !isEdit" class="btn btn-outline-light bg-dark text-white">Edit</button>
          </div>
          <div class="card-body">
            <div *ngIf="!isEdit">
            <ul class="list-group">
              <li class="list-group-item">Username: {{userProfile.username}}</li>
              <li class="list-group-item">Authority: {{userProfile.roles[0].roleName}}</li>
              <li class="list-group-item">Email: {{userProfile.email}}</li>
              <li class="list-group-item">FirstName: {{userProfile.firstName}}</li>
              <li class="list-group-item">LastName: {{userProfile.lastName}}</li>
            </ul>
            </div>
            <div *ngIf="isEdit">
              <app-update-form [registerMode]="false" [userData]="userProfile" ></app-update-form>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header bg-dark text-white">
            Shipping Adresses:
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let address of userProfile.addresses">{{address.addressName}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

