<form [formGroup]="shippingInfoFormGroup" (submit)="submitForm()">
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input formControlName="addressName" type="text" class="form-control" id="inputAddress" aria-describedby="adress" placeholder="Enter Address">
  </div>
  <div class="form-group">
    <label for="inputPostalCode">Postal code</label>
    <input formControlName="postalCode" type="text" class="form-control" id="inputPostalCode" aria-describedby="email" placeholder="Enter postal code">
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
