<div class="container">

  <div class="list-group">
    <div class="list-group-item" *ngFor="let item of order.items">
      <div >
       <app-cart-item [showStepper]="false" [item]="item"></app-cart-item>
      </div>
    </div>
  </div>
</div>
