/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
html,
body {
  height: 100%;
  padding-top: 58px;
  background-image: url("./assets/backgroundBluredC64.png");
  background-origin: padding-box;



}

.container{
  background-color: transparent;
}


* {
  font-family: "Fixedsys Excelsior 3.01";
}


