<div class="container-fluid ">
  <div class="row card">
    <div class="card-body">
      <div class="row">


      <div class="col-md-5">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
            Sort by
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="setSort('price',true)">Price(low-high)</a>
            <a class="dropdown-item" (click)="setSort('price',false)">Price(high-low</a>
          </div>
        </div>

      </div>
      <div class="col-md-7">
        <app-paginator [itemCount]="totalProductCount" *ngIf="totalProductCount > 0"
                       (pageChanged)="pageChanged($event)"></app-paginator>
      </div>

      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="products">
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Search results</h5>

  </div>
  <div class="card-body">
    <app-product-detail [compact]="true" *ngFor="let product of products" [product]="product"></app-product-detail>
  </div>
</div>

</div>
