<div class="container">

  <ul class="nav nav-tabs " id="myTab" role="tablist">
    <li class="nav-item ">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">MyProfile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Purchase history</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" id="visits-tab" data-toggle="tab" href="#visits" role="tab" aria-controls="visits" aria-selected="false">Site visits</a>
      </li>

  </ul>
  <div class="tab-content " id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <app-profile-details></app-profile-details>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <app-past-purchases-tab></app-past-purchases-tab>
    </div>
    <div *ngIf="isAdmin" class="tab-pane fade" id="visits" role="tabpanel" aria-labelledby="visits-tab">
      <app-visits></app-visits>
    </div>
  </div>

</div>
