div div{
  display: inline-block;
}

div{
  display: inline-block !important;
}


.inputText{
  width: 30px;

}

input{
  border: 0px solid black;
  height: 100%;
  width: 100%;
}
div.form-control-range{
  display: inline-block !important;
  width: 50px;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
