<div>
  <div >
    <button class="btn btn-outline-dark" (click)="decreaseNumber()"><</button>
  </div>
  <div >
    <button class="btn btn-outline-dark"> <input class="inputText " type="number" [(ngModel)]="number" (change)="textChanged($event)"/>
    </button>
  </div>
  <div>
    <button class="btn btn-outline-dark" (click)="increaseNumber()"> > </button>
  </div>
</div>
