<div class="container">
  <div class="card">
    <div class="card-header bg-dark text-white">
      Shopping cart
    </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of cartService.shoppingCart.itemsInCart">
      <app-cart-item (itemRemoved)="itemRemoved($event)" (quantityChanged)="quantityChanged($event)" [showStepper]="true" [item]="item" ></app-cart-item>
    </li>
    <li class="list-group-item">
      <div class="container-fluid">
        <div class="float-right">
          OrderTotal: {{cartService.shoppingCart.total |currency:'USD'}}
        </div>
      </div>
    </li>
  </ul>
  </div>
</div>
<div *ngIf="!currentUserSerice.isUserLoggedIn()" class="container">
  <div class="card" >
    <div class="card-header bg-dark text-white">
      Login
    </div>
    <div class="card-body">
      <app-login (userLoggedIn)="userLoggedIn($event)"></app-login>
    </div>
  </div>
</div>

<div *ngIf="currentUserSerice.isUserLoggedIn() " class="container">
  <div class="card" >
    <div class="card-header bg-dark text-white">
      Info
    </div>
    <div class="card-body" >
      <app-shipping-info (addressSelected)="selectedAddress($event)" [user]="currentUserSerice.getRegisteredUser()"></app-shipping-info>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <button *ngIf="canLoad" class="btn btn-outline-dark" (click)="placeOrder()">Place order</button>
        <div *ngIf="canLoad" id="paypal-button"></div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="!isAddressSelected">
    <div class="card-header bg-dark text-white">
      Add new Address
    </div>
    <div class="card-body">
      <app-form-add-update (addressPosted)="addressPosted($event)"></app-form-add-update>
    </div>
  </div>
</div>





